{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <select class="form-control" name="position">
                <option disabled selected value="">Player Position</option>
                {% for row in dic %}
                    <option value = "{{ row }}">{{ row }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <input class="form-control" name="name" placeholder="Player Name" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
