{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}

     <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value (£)</th>
                <th>Club</th>
                <th>Height</th>
                <th>Foot</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            {% for row in dic %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>{{ row.value }}</td>
                    <td>{{ row.club }}</td>
                    <td>{{ row.height }}</td>
                    <td>{{ row.foot }}</td>
                    <td>{{ row.age }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
