{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="form-group">
            <select class="form-control" name="position">
                <option disabled selected value="">Player Position</option>
                {% for row in dic %}
                    <option value = "{{ row.position }}">{{ row.position }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
{% endblock %}
